@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

h2,h3,p{
    margin:0;
}
.my_container{
    height:70vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user_input{
    height:30px;
    width:300px;
    margin:20px 20px 20px 5px;
    padding-left:5px;
}

#the_word{
    font-weight:bolder;
    color:white;
}

#start_button{
    height:37px;
}